*{
    margin: 0;
    padding: 0;
    font-family: "roboto";
}


body{
    display: grid;
    grid-template-columns: 20vw 1fr;
    grid-template-rows: 100vh ;
}



.container-main{
    background-color: aqua;
    display: grid; 
    grid-template-rows: 20vh 1fr;   
}

.search{
    background-color: black;
}


.first-part{
    display: grid;
    grid-template: 1fr /50vw 1fr;
    /* grid-template-columns: 1fr 50px; */
}


.projects{
    background-color: pink;
    display: grid;
    grid-template: 40px repeat(3,1fr)/ repeat(2,1fr);
}
.projects >h1{
    grid-column: 1/3;
}


.project-1{
    background-color: red;
}

.project-2{
    background-color: purple;

}
.project-3{
    background-color: lightblue;

}
.project-4{
    background-color: maroon;

}
.project-5{
    background-color: gray;

}
.project-6{
    background-color: green;

}


.second-part{
    background-color: brown;
    display: grid;
    grid-template-rows: 40px 1fr 40px 1fr;
}

.announc{
    background-color: blue;
}

.trending{
    background-color: beige;
}

.nav-container{
    background-color: #1892d3;
    padding: 30px;
}


.head-dash{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
    color: #f2faff;
}

.head-dash >img{
    height: 50px;
}

.dash-links{
    display: flex;
    flex-direction: column;
    gap: 30px;    
}

.dash-links li{
    display: flex;
    padding-bottom: 20px;
    font-size: 1.5rem;
    gap: 2rem;
    color: #f2faff;
    font-weight: 500;
}

.dash-links li:nth-child(6){
    margin-bottom: 6rem;
}


img{
    height: 30px;
    filter: invert();
}




