* {
    margin: 0;
    padding: 0;
    font-family: "roboto";
}


body {
    display: grid;
    grid-template-columns: 20vw 1fr;
    grid-template-rows: 1fr;
    background-color: #e1e8f0;
}



.container-main {
    display: grid;
    grid-template-rows: 21.5vh 1fr;
}



.first-part {
    display: grid;
    grid-template: 1fr /50vw 1fr;
    background-color: #e1e8f0;
    padding: 0 20px 20px 20px;
    /* grid-template-columns: 1fr 50px; */
}


.projects {
    display: grid;
    grid-template: 40px repeat(3, 1fr)/ repeat(2, 1fr);
    gap: 20px;
    margin-right: 20px;
}

.projects>h4 {
    display: flex;
    grid-column: 1/3;
    background-color: #e1e8f0;
    align-items: center;
    font-size: 25px;
}


.project-1 {
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    box-shadow: -7px 0 0 0 #efb428,5px 5px 5px grey;

}

.project-1 h5{
    font-size: 20px;
}


.project-1 p{
    color: #7f7f7f;
}

.icon-set{
    padding-top: 15px;
    display: flex;
    gap: 10px;
    margin-left: auto;
    margin-right: 10px;
}


.second-part {
    display: grid;
    grid-template-rows: 40px 1fr 40px 1fr;
    gap: 20px;

}



.nav-container {
    background-color: #1892d3;
    padding: 30px;
}


.head-dash {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
    color: #f2faff;
}

.head-dash>img {
    height: 50px;
}

.dash-links {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.dash-links li {
    display: flex;
    padding-bottom: 20px;
    font-size: 1.5rem;
    gap: 2rem;
    color: #f2faff;
    font-weight: 500;
}

.dash-links li:nth-child(6) {
    margin-bottom: 6rem;
}


.icon {
    height: 30px;
    filter: invert();
}

.icons{
    height: 30px;
}



.input-field {
    display: flex;
    padding: 20px;
    gap: 30px;
    justify-content: space-between;
}

.input-search {
    display: flex;
    align-items: center;
    gap: 30px;
}


input[type="text"] {
    border-radius: 10px;
    border: none;
    background-color: #e1e8f0;
    width: 30vw;
    height: 30px;

}



.extra-search {
    display: flex;
    gap: 30px;
    align-items: center;
}

.picture-1 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.input-icon {
    height: 30px;
}

.second-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 0px 2px 2.5px gray;
    background-color: #fff;
}

.image-my{
    display: flex;
    align-items: center;
    gap: 20px;
}

.second-search img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.name{
    font-weight: 700;
    }

.name :nth-child(2){
    font-size: 25px;
}

.search-button{
    display: flex;
    gap: 30px;
}

button{
    width: 15vh;
    height: 35px;
    border: none;
    background-color: #1892d3;
    border-radius: 50px;
    color: #fff;
    font-weight: 500;
}

.search-first{
    background-color: #fff;

}

.announc {
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow:5px 5px 5px grey;

}

 h5{
   font-size: 20px; 
   padding-top: 10px;
   padding-bottom: 10px;
}

hr{
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.trending {
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow:5px 5px 5px grey;
}

